<div class="container my-5">
  <h1 class="text-center">Your Favourite <span class="highlight">Menu</span></h1>
  <div class="row">
    <div class="col-lg-4 " *ngFor="let food of foodData;">
      <div class="foodBox m-3">
        <img [src]="food.foodImage" alt="{{food.foodName}}">
        <h1>{{food.foodName}}</h1>
        <p class="mb-4">{{food.foodPrice | currency}}</p>
        <a class="buyBtn" [routerLink]='["/menu",food.id]'>Buy Now <i class="fa-solid fa-bag-shopping"></i></a>
      </div>
    </div>
  </div>
</div>
