<div class="container my-4">
  <div class="row">
    <div class="col-lg-6 mt-3" *ngIf="menuData">
      <div class="foodBox">
        <a routerLink="/menu" class="btn btn-sm btn-dark mb-3">Back</a>
        <img class="w-100" [src]="menuData[0].foodImage" alt="{{menuData[0].foodName}}">
        <h1>{{menuData[0].foodName}}</h1>
        <p class="price">{{menuData[0].foodPrice | currency}}</p>
      </div>
    </div>
    <div class="col-lg-6 ">
      <h2>Enter Your Details</h2>
      <form class="form">
        <input type="text" class="form-control mb-2" placeholder="Enter or Full Name">
        <input type="text" class="form-control mb-2" placeholder="Enter or Mobile">
        <input type="text" class="form-control mb-2" placeholder="Enter or Email">
        <textarea class="form-control" placeholder="Enter Your Address"></textarea>
        <button class="btn btn-md btn-dark mt-3">Place Order</button>
      </form>
    </div>
  </div>
</div>


