.banner{
  background-image: url('https://images.unsplash.com/photo-1543353071-10c8ba85a904?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
  height: 600px;
  background-size: cover;
}
.content{
  top: 50%;
  left: 30%;
  position: absolute;
}
.content h1{
  color: rgb(10, 7, 7);
  font-weight: bold;
  font-size: 50px;
}
.banner a{
  text-decoration: none;
  color: var(--primary-color);
  padding: 20px 20px;
  background-color: black;
  border-radius: 5px;
}
.banner a:hover{
  color: black;
  background-color: var(--primary-color);
}

.stepBox{
  background-color: black;
  padding: 10px 10px;
  border-radius: 5px;
  text-align: center;
}

.stepBox h1{
  color: var(--primary-color);
  font-weight: bold;
  font-size: 50px;
}
.stepBox p{
  font-size: 20px;
  font-style: italic;
  color: #fff;
}

.highlight{
  color: var(--primary-color);
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}
